@import './variables.scss';
@import 'swiper/css';
@import './fonts.css';
@import 'swiper/css/bundle';

* {
	box-sizing: border-box;
}

.work {
	background-color: var(--background-color);
}

button {
	background-color: inherit;
	padding: 0;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.center {
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	line-height: 150%;
	font-weight: 400;
	background-color: $color-gray;
}

.container {
	max-width: $container-max-width;
	margin: 0 auto;
	min-height: 100vh;
}

.center {
	margin: 0 15px !important;

	@media (max-width: 600px) {
		margin: 0 20px !important;
	}
}

.content {
	width: 100%;
	height: 100%;
}
