//Colors
$color-white: #FFFFFF;
$black-blue: #42567A;
$color-gray: #F4F5F9;
$color-iris: #5D5FEF;
$color-fuschia: #EF5DA8;
$color-light: hsl(220, 19%, 82%);
$color-iric-light: #3877EE;
$color-fuschia-light: #F178B6;
$color-liner: #C7CDD9;

//fonts
$font-main: 'PT Sans';
$font-sub: 'Bebas Neue';

//Breakpoints
$breakpoint-xxl: 1600px;
$breakpoint-xl: 1366px;
$breakpoint-lg: 768px;
$breakpoint-md: 560px;
$breakpoint-sm: 390px;

//Container max width
$container-max-width: 1470px;

